@import 'tailwindcss';
@import 'fumadocs-ui/css/preset.css';
@import './styles/namirial-theme.css';
@import './styles/fumadocs-theme.css';
@import './styles/docs-showcase.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

html.light #nd-home-layout main {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

html.light #nd-home-layout main.with-bg {
  background-image: url('/img/background-light.svg') !important;
}

html.dark #nd-home-layout main.with-bg {
  background-image: url('/img/background-dark.svg') !important;
}

#nd-page, #nd-toc {
  padding-top: calc(var(--spacing) * 16);
}

:root {
  --fd-nav-height: 56px; /* Set the actual height of your navbar if it differs. */
}

#nd-notebook-layout.min-h-\(--fd-docs-height\) {
  min-height: calc(var(--fd-docs-height) - var(--fd-nav-height)) !important;
}

/* Force the documentation layout to drop below the home page's global bar. */
.fd-docs-layout {
  padding-top: var(--fd-nav-height);
}

/* Optional: If you want the mobile sidebar button to remain accessible */
.fd-sidebar-toggle {
  top: calc(var(--fd-nav-height) + 16px) !important;
}

#nd-subnav {
  display: none !important;
}

@media (max-width: 48rem) {
  header#nd-nav {
    display: none !important;
  }
  #nd-subnav {
    display: flex !important;
    z-index: 9999;
  }
  aside#nd-sidebar-mobile.max-w-\[380px\] {
    min-width: 100% !important;
  }
}
